@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@500&display=swap');  
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    cursor: pointer;
}

#wrapper {
    
    width: 100%;
    height: 100hv;
}
#header {
    width: 100%;
    padding-left:70px;
    padding-right: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}

#menu {
    list-style:none;
    display: flex;
    font-size: 20px;

    
}
#menu .item {
    margin:0px 50px;
    
}

#menu .item a {
    color:#626A67;
    text-decoration: none;

}

#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}

#banner {
    width: 100%;
    background-image :url("assets/banner.png");
    height: 463px;
    margin-top: 5px;
    display: flex;
    padding:0px 133px;
    position:relative;
    
}
#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:85px;
    color:#fff;
}
#banner2  .boxleft{
    font-size: 33px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner2 .box-right2 {
    padding-left:100px;
    justify-content: center;   
    color: #fff;
    font-size:20px;
    padding-top: 90px;
}


#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}

.logo img{
    width: 100px;
}

.imgHouse img{
    height: 200px;
    width: 300px;
}
.btn-search{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control{
    margin-top: 10px;
}
